.elapsed-tc,.total-tc{
    font-size: 10px;
    padding:10px;
    line-height: 15px;
    vertical-align: top;
}


.music-progress-bar{
    width:100%;
    height: 3px;
    top: 8px;
    position: absolute;
    border-radius: 3px;
}
