.app-container{
    height: 100vh;

    .top-panel{
        height: 100%;
    }

    .left-panel{
        padding-bottom: 80px;
    }

    .right-panel{
        padding-bottom: 80px;
    }

    .bottom-panel{
        margin-top: -80px;
        height: 80px;
    }
}